<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/readable/bootstrap.min.css" rel="stylesheet">
    @*
    <link href="@Url.Content(" ~/Content/main.css ")" rel="stylesheet" type="text/css">*@
    @*    <script src="@Url.Content(" ~/Scripts/jquery-1.8.0.min.js ")" type="text/javascript"></script>
    <script src="@Url.Content(" ~/Scripts/jquery.unobtrusive-ajax.min.js ")" type="text/javascript"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        .navbar {
            margin-bottom: 0px;
        }

        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 70px;
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 70px;
            background-color: #f5f5f5;
        }

            #footer p {
                padding-top: 30px;
            }
    </style>
</head>

<body style="background-color: #E4F1FE;">
    <div class="container">
        <!-- Nabrar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">EnTwit</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Newsfeed", "Tweet")">Home <span class="sr-only">(current)</span></a></li>
                        <li><a href="@Url.Action("All", "People")">People</a></li>
                        <li><a href="@Url.Action("Info", "People", new { id = ((Models.UserViewModel)HttpContext.Current.Session["CurrentUser"]).Id }, null)">My Page</a></li>
                        <li><a href="#" class="btn btn-success" role="button" data-toggle="modal" data-target="#myModal">Tweet!</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Go!</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>@Html.Partial("~/Views/Shared/CurrentUserAndLogOut.cshtml", (HttpContext.Current.Session["CurrentUser"] as Models.UserViewModel))</a></li>
                        <li><a href="@Url.Action("LogOut", "User")" class="btn btn-primary" role="button" >LogOut</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Nabrar -->

        <!-- Tweet modal -->
        <div id="myModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">What's up?</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form center-block">
                            <div class="form-group">
                                <textarea class="form-control input-md" autofocus="" placeholder="What do you want to share?"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Tweet</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tweet modal -->

        <!-- Page content -->
        <div id="page-content" style="width: 95%; margin: 0 auto; background-color: #FCFDFE; border: 1px solid; border-color: #dddddd;">
            @RenderBody()
        </div>
        <!-- Page content -->
    </div>
    <div id="footer" style="background-color: #FCFDFE;">
        <div class="container" style="background-color: #FCFDFE;">
            <div style="width: 95%; margin: 0 auto;">
            <p class="pull-right">©Copyright 2015</p>
            </div>
        </div>
    </div>
</body>
</html>