@model Models.ViewModels.InfoViewModel
@{
   
    var currentUserId = ((Models.UserViewModel)HttpContext.Current.Session["CurrentUser"]).Id;
    var userId = @Model.User.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>

</head>
<body>
    <div id="user-info">
        <h3>User information:</h3>
        @Html.Partial("UserInfo", @Model.User)
        <br />

        <span class="badge">Tweets: @Model.TweetsCount</span>
        <span class="badge">Following: @Model.CurrentUserFollows.Where(follows => follows.SubId == userId).Count()</span>
        <span class="badge">Followers:<span id="followers">@Model.CurrentUserFollows.Where(follows => follows.PubId == userId).Count()</span></span>

        <div class="papa-container" id="@userId">

            @if (Model.Users.FirstOrDefault(x => x.Id == @userId).IsFollowedByCurrent)
            {
                <span class="btn btn action-unfollow" style="display: block;">Unfollow this user!</span>
                <span class="btn action-follow" style="display: none;">Follow this user!</span>
            }
            else
            {
                <span class="btn btn action-unfollow" style="display: none;">Unfollow this user!</span>
                <span class="btn action-follow" style="display: block;">Follow this user!</span>
            }
           
        </div>
        <hr />

        <h3>User tweets:</h3>
        @Html.Partial("InfoTweetsPartial", @Model.Tweets)
    </div>
</body>
</html>
