@model Models.ViewModels.InfoViewModel

@{
    var currentUserId = ((Models.UserViewModel)HttpContext.Current.Session["CurrentUser"]).Id;
    var userId = @Model.User.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>UsersPage</title>
</head>
<body>
    <div id="this-user-page">
        <h3>Your information:</h3>
        @Html.Partial("UserInfo", @Model.User)
        <br />
        <span class="badge">Tweets: <span id="tweet-badge">@Model.TweetsCount</span></span>
        <span class="badge">Following: @Model.CurrentUserFollows.Where(h => h.SubId == currentUserId).Count()</span>
        <span class="badge">Followers: @Model.CurrentUserFollows.Where(h => h.PubId == currentUserId).Count()</span>
        <hr />

        @Html.Partial("UserPageTweetsPartial", Model.Tweets)
    </div>
</body>