@model List<Models.TweetViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Newsfeed</title>
</head>
<body>
    <div>
        <h2>Newsfeed</h2>
    </div>
    @Html.Partial("AddNewTweet", new Models.TweetModel())

    @Html.Partial("CurrentUserString", (HttpContext.Current.Session["CurrentUser"] as Models.LogInUserViewModel) )
    <button type="button" value="logout" onclick="location.href='@Url.Action("LogOut", "Tweet")'">Log out!</button>
   
    <h3>Tweets:</h3>
    <div id="tweets">
        @foreach (var item in Model)
        {
            @item.Body <br />
            @item.DateAdded <br />
            <br />
        }
    </div>


@*    <script>
        $(document).ready(function () {
            $(".tweet").click(function () {
                $.ajax({
                    url: '/Tweet/Newsfeed/',
                    type: "POST",
                    data: {
                        Body: $('#Body').val()
                    },
                    success: function (data) {
                        $('#tweets').html(data);
                    }
                })
            });
        });
    </script>*@
</body>
</html>
