@model List<Models.TweetViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>UsersPage</title>
</head>
<body>
    <div id="this-user-page">
        <h3>User information:</h3>
        @Html.Partial("UserInfo", (Models.UserViewModel)ViewBag.UserInfo)
        <br />
        <span class="badge">Tweets: <span id="tweet-badge">@Model.Count</span></span>
        <span class="badge">Following: 0</span>
        <span class="badge">Followers: 0</span>
        <hr />

        <div id="tweets" style="width: 50%; margin: 0 auto;">
            @foreach (var item in Model)
            {
                <div class="parent-tweet-container panel panel-primary" id="@item.Id">
                    <div class="panel-heading">                   
                            <div class="row">
                                <h7 class="panel-heading col-md-8">@item.DateAdded</h7>
                                <div class="button-action-edit col-md-2" > <span class="glyphicon glyphicon-pencil" style="font-size: 20px;"></span></div>
                                <div class="button-action-delete col-md-2"> <span class="glyphicon glyphicon-remove" style="font-size: 20px;"></span></div>
                            </div>
                    </div>

                    <div class="panel-body">
                        <textarea class="collapse form-control"></textarea>

                        <h5 class="tweet-text" style="word-wrap: break-word;">@item.Body</h5>

                        <div class="buttons-save-cancel collapse row" style="width: 35%; margin: 0 auto;">
                            <button type="button" class="button-action-save btn btn-default col-md-6">Save</button>
                            <button type="button" class="button-action-cancel btn btn-default col-md-6">Cancel</button>
                        </div>
                        <div class="buttons-edit-delete row" style="margin: 0 auto;">
@*                            <div class="button-action-edit col-md-6" >  <span class="glyphicon glyphicon-pencil" style="font-size: 20px;"></span></div>
                            <div class="button-action-delete col-md-6">  <span class="glyphicon glyphicon-remove" style="font-size: 20px;"></div>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>