@model Models.ViewModels.BadgeModel
@using WebUI.Helpers
@{
    var currentUserId = ((Models.UserViewModel)HttpContext.Current.Session["CurrentUser"]).Id;
    var userId = @ViewBag.UserInfo.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>UsersPage</title>
</head>
<body>
    <div id="this-user-page">
        <h3>User information:</h3>
        @Html.Partial("UserInfo", (Models.UserViewModel)ViewBag.UserInfo)
        <br />
        <span class="badge">Tweets: <span id="tweet-badge">@Model.TweetsCount</span></span>
        <span class="badge">Following: @Model.CurrentUserFollows.Where(h => h.SubId == currentUserId).Count()</span>
        <span class="badge">Followers: @Model.CurrentUserFollows.Where(h => h.PubId == currentUserId).Count()</span>
        <hr />

        <div id="tweets" style="width: 50%; margin: 0 auto;">
            @foreach (var item in Model.Tweets)
            {
                <div class="parent-tweet-container panel panel-primary" id="@item.Id">
                    <div class="panel-heading">                   
                            <div class="row" style="text-align: center">
                                <h7 class="col-md-10" style="padding: 5px;">@item.Author</h7>
                                    <div class="button-action-edit col-md-2"> <span class="glyphicon glyphicon-pencil" style="font-size: 17px;"></span></div>
                                    <div class="button-action-delete col-md-2"> <span class="glyphicon glyphicon-remove" style="font-size: 17px;"></span></div>
                            </div>
                    </div>
                    <div class="panel-body">
                        <textarea class="collapse form-control"></textarea>

                        <h5 class="tweet-text" style="word-wrap: break-word;">@item.Body</h5>
                        
                        <div class="date-on-userpage" style="display:block"><hr style="margin-top:0px; margin-bottom: 0px;"/>@item.DateAdded</div>
                        
                        <div class="buttons-save-cancel collapse row">
                            <div style="width: 50%; margin: 0 auto;">
                                <button type="button" class="button-action-save btn btn-default" style="width: 80px; margin-right: 20px; margin-left: 20px;">Save</button>
                                <button type="button" class="button-action-cancel btn btn-default" style="width: 80px;">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        @if ( Model.TweetsCount > Model.PageInfo.PageSize )
        {
            <div class="btn-group">
                @Html.PageLinks(Model.PageInfo, x => Url.Action("UserPage", new { page = x}))
            </div>
        }
    </div>
</body>